/* =============================================================================
// MDL(Meterial Design Lite) style adjustment
// ========================================================================== */

/* =====================================
// Layout
// ================================== */

@media screen and (max-width: 1024px) {
  .mdl-layout__header-row {
    padding-left: 24px;
  }

  .mdl-layout__tab-bar {
    padding-left: 16px;
  }
}

.mdl-layout__tab-panel {
  padding: 16px
}

@media screen and (min-width: 1025px) {
  .mdl-layout__tab-panel {
    padding: 32px 56px;
  }
}

/* =============================================================================
// SD(SeeD) prefixed original style
// ========================================================================== */

.sd-layout-fixed-center {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
