/* =============================================================================
// MDL(Meterial Design Lite) style adjustment
// ========================================================================== */

/* =====================================
// Layout
// ================================== */

.mdl-layout-title {
  margin-right: 16px;
}

.mdl-layout__header-row .mdl-textfield {
  padding-top: 24px;
}

.mdl-layout__header-row .mdl-textfield > .mdl-button--icon {
  margin-left: 0;
}

.mdl-layout__header-row .mdl-button {
  margin-left: 10px;
  margin-right: 0;
}

.mdl-layout__drawer-button {
  outline-style: none;
}

.mdl-layout__drawer-button .material-icons {
  margin-top: 12px;
}

/* =====================================
// Navigation
// ================================== */

.mdl-navigation__link--active {
  background-color: #EEEEEE;
}

.mdl-navigation__link .material-icons {
  margin-right: 32px;
}

/* =====================================
// Button
// ================================== */

.mdl-button.mdl-badge {
  overflow: visible;
}

.mdl-button.mdl-badge--overlap:after {
  font-weight: 400;
  top: -7px;
  right: -7px;
}

/* =====================================
// Menu
// ================================== */

.mdl-menu__item {
  padding-right: 24px;
}

.mdl-menu__item .material-icons {
  vertical-align: middle;
  margin-right: 6px;
}

/* =====================================
// Data table
// ================================== */

.mdl-data-table {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.mdl-data-table th {
  user-select: none;
}

.mdl-data-table th span {
  outline-style: none;
}

.mdl-data-table th .material-icons {
  vertical-align: middle;
  margin-right: 6px;
  font-size: 18px;
}

.mdl-data-table__header--select-checkBox {
  width: 67px;
}

.mdl-data-table__header--sortable {
  cursor: pointer;
}

.mdl-data-table__placeholder {
  color: rgba(0, 0, 0, 0.38);
  cursor: pointer;
}

/* =====================================
// Dialog
// ================================== */

.mdl-dialog {
  background-color: white;
}

.mdl-dialog--position-absolute {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: auto;
}

.mdl-dialog__content {
  white-space: normal;
}

/* =============================================================================
// SD(SeeD) prefixed original style
// ========================================================================== */

/* =====================================
// Layout
// ================================== */

.sd-layout-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.sd-layout-center--fixed {
  position: fixed;
}

.sd-layout-stretch {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.sd-layout-stretch--fixed {
  position: fixed;
}

.sd-layout-flex {
  display: flex;
}

.sd-layout-flex--align-center {
  justify-content: center;
  align-items: center;
}

/* =====================================
// Form
// ================================== */

.sd-fake-autofill-field {
  visibility: collapse;
  position: absolute;
}

/* =============================================================================
// Polyfills
// ========================================================================== */

/* =====================================
// Dialog
// ================================== */

/* FIXME: Polyfilled dialog breaking layout on MDL. */

dialog {
  position: fixed;
  top:50%;
  transform: translateY(-50%);
  left: 0px;
  right: 0px;
  width: -webkit-fit-content;
  height: -webkit-fit-content;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  color: black;
  margin: auto;
  border-width: initial;
  border-style: solid;
  border-color: initial;
  padding: 1em;
  background: white;
}

dialog + .backdrop {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.0980392);
}