<div class="mdl-grid">

  <sd-data-table class="mdl-cell mdl-cell--12-col-desktop
                        mdl-shadow--2dp"
                 [data]="sampleData"
                 [columns]="sampleDataColumns"
                 [selectable]="true"
                 #sampleDataTable>
  </sd-data-table>

  <div class="mdl-cell mdl-cell--12-col-desktop">
    <ul>
      <li *ngFor="let item of sampleDataTable.selectedItems">
        {{item.material}}, {{item.quantity}}, {{item.unitPrice}}
      </li>
    </ul>
  </div>
</div>
